.fv_tooltip{
	width:200px; 
	color:#000;
	font:lighter 11px/1.3 Arial,sans-serif;
	text-decoration:none;
	text-align:center
}
.fv_tooltip span.top{padding: 30px 8px 0; background: url(../images/bt.gif) no-repeat top}
.fv_tooltip b.bottom{padding:3px 8px 8px;color: #548912; background: url(../images/bt.gif) no-repeat bottom}